*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
!WebFlix.apk
!webflix.apk
/app/release
*.jks
gradle/wrapper/gradle-wrapper.jar
cookies.txt

.kotlin/
